/*---------body--------*/
body {
  margin: 0;
  background-color: #0a192f;
  /* background-color: #171c28; */
  /* background-color: #ffffff; */
  margin: 0;
  padding: 0;
  line-height: 1.5;
  width: 100%;
}

h1 {
  color: #ffffff;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 10rem;
  margin: 0;
  padding: 230px 2px 0;
  text-align: center;
}

h2 {
  /* color: #22577a; */
  color: #ccd6f6;
  /* color: #64ffda; */
  font-family: "Italianno", cursive;
  font-size: 6rem;
  margin: 30px 0 10px;
  text-align: left;
}

h3 {
  font-family: "Maven Pro", sans-serif;
  color: #3282b8;
  font-size: 2.5rem;
  padding: 0 auto;
}

h4 {
  font-weight: 500;
  font-size: 20px;
}

hr {
  border: solid #114e77 1px;
  border-bottom: none;
  width: 100%;
  margin: 40px auto;
  opacity: 0.3;
}

/*----------hearder------*/
.top-intro {
  padding: 120px 100px;
  height: 100vh;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1300px;
  margin: 0 auto;
}

.intro__hello {
  color: #64ffda;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  padding: 0;
  text-align: left;
}

.bigHeading {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
}

.top-intro h3 {
  color: #8892b0;
  line-height: 0.9;
  margin-top: 5px;
  /* font-weight: 100; */
}

.intro__hello .emoji,
.intro__tagline .emoji {
  width: 40px;
  height: 40px;
}

.emoji {
  display: inline-block;
  vertical-align: text-top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.intro__tagline {
  color: #ccd6f6;
  font-weight: 300;
  max-width: 700px;
}

.intro__tagline {
  font-size: 2.5rem;
  /* max-width: 1000px; */
}

.intro__tagline .job-position {
  color: #64ffda;
  font-size: 20px;
  font-weight: 600;
}

.job-website {
  color: #47ffd4;
}

.job-website:hover {
  color: #ff9500;
}

.intro-contact span {
  color: #8efee4;
  font-size: 2rem;
  font-weight: 400;
}

.intro-contact .emoji.pointer {
  background-image: url(../images/point_right.png);
  width: 30px;
  height: 30px;
  margin: 0 5px;
  vertical-align: text-bottom;
}

.intro-contact .highlight-link {
  color: #ccd6f6;
  font-size: 2rem;
  font-weight: 400;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  display: inline-block;
  padding: 2px 3px;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 #ff9500;
}

.intro-contact .highlight-link:hover {
  background-color: #ff9500;
  color: #ffffff;
}

/*----------middle container--------*/
.middle-container {
  /* background-color: white; */
  padding: 0 250px 50px;
  color: #8892b0;
}

.middle-container h3 {
  margin: 0;
  padding: 0;
}

.middle-container .intro-title {
  color: #64ffda;
  margin-bottom: 30px;
}

.intro {
  font-weight: 300;
  font-size: 19px;
  line-height: 1.4;
  color: #ccd6f6;
  /* padding-top: 10px; */
  /* padding-right: 30px; */
  text-align: left;
}

.btn {
  margin: 30px 0;
}

.backgrounf-note {
  color: #ffce64;
}

.wrapper {
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: block;
  position: relative;
  width: 100%;
  border-radius: 10px;
  /* background-color: #64ffda; */
  /* margin: 10px; */
}

.wrapper::before {
  top: 0px;
  left: 0px;
  background-color: #0a192f;
  mix-blend-mode: screen;
}

.wrapper::before,
.wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wrapper .img {
  border-radius: 30px;
  /* filter: grayscale(100%) contrast(1); */
  position: relative;
  /* mix-blend-mode: multiply; */
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  height: auto;
}

.profile-image {
  width: 100%;
  border-radius: 10px;
}

.wrapper::after {
  z-index: -1;
  left: 14px;
  top: 14px;
  border: 2px solid #64ffda;
}

ul.skills-list {
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
  display: grid;
}

ul.skills-list li {
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 14px;
  position: relative;
}

ul.skills-list li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: #64ffda;
  font-size: 14px;
  line-height: 13px;
}

.cv-button .resume-link {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #64ffda;
  color: #64ffda;
  display: inline-block;
  line-height: 1;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 14px;
  padding: 1.7rem 3rem;
  text-decoration: none;
  margin-top: 30px;
}

.cv-button .resume-link:hover {
  border: 1px solid #ffce64;
  color: #ffce64;
  text-decoration: none;
}

/*----------experience container--------*/
.experience-container {
  background-color: rgb(252, 237, 216);
  margin: 30px auto 0px;
  padding: 15px 170px 37px;
}

.experience-container h2 {
  color: #22577a;
}

.experience-title {
  font-size: 28px;
  font-weight: 200;
  text-align: left;
  margin-bottom: 30px;
}

.period {
  font-size: 15px;
}

.col-lg-4,
.col-lg-8 {
  text-align: justify;
}

.row p > strong {
  display: block;
  text-align: left;
}

.duty {
  margin-bottom: 10px;
}

.duty ul {
  font-size: 17px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.arrow-list li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
}

.arrow-list li::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 8px; /* Changed from 55% to 0 */
  transform: rotate(45deg); /* Removed translateY */
  width: 10px;
  height: 10px;
  border-right: 3px solid #ff6347;
  border-top: 3px solid #ff6347;
}

.experience-description {
  font-size: 19px;
  line-height: 1.9;
}

/*----------project container------*/
.project-container {
  padding: 30px 170px 15px;
  /* margin: 0; */
}

.project-container h2 {
  text-align: center;
}

.project-intro {
  color: #ccd6f6;
  font-size: 19px;
  padding: 3px 27% 60px;
  text-align: center;
}

.projects-grid {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.projects-grid li {
  margin-bottom: 90px;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.project-contents {
  position: relative;
  /* grid-area: 1 / 1 / -1 / 7; */
  grid-area: 1 / 1 / -1 / 8; /* Adjusted grid area */
  z-index: 2;
}

.project-images {
  position: relative;
  grid-area: 1 / 7 / -1 / -1; /* Adjusted grid area */
}

.project-list:nth-of-type(2n + 1) .project-contents {
  /* grid-area: 1 / 6 / -1 / -1;  */
  grid-area: 1 / 6 / -1 / -1; /* Adjusted grid area for odd-numbered elements */
  text-align: right;
}

.project-list:nth-of-type(2n + 1) .project-images {
  grid-area: 1 / 1 / -1 / 7; /* Adjusted grid area for odd-numbered elements */
}

.project-contents h3 {
  color: #ccd6f6;
  font-size: 20px;
  margin-bottom: 25px;
}

.project-contents p {
  color: #64ffda;
  font-size: 13px;
  font-weight: 400;
}

.project-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #47ffd4;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.project-link:hover {
  background-color: #e5533d;
}

.project-contents img {
  width: 25px;
  height: 25px;
  fill: none;
}

.project-contents img:hover {
  filter: invert(60%) sepia(48%) saturate(694%) hue-rotate(86deg)
    brightness(150%) contrast(101%);
}

.project-contents .note {
  border-radius: 7px;
  position: relative;
  color: #a8b2d1;
  font-weight: 350;
  font-size: 1.6rem;
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: #112240;
  padding: 25px;
}

.project-images a {
  display: block;
  position: relative;
  border-radius: 8px;
}

.project-images a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c2fded;
  opacity: 0.5;
  border-radius: 8px;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.project-images a img {
  width: 100%;
  height: 130%;
  border-radius: 8px;
  filter: grayscale(100%) contrast(100%) brightness(90%);
  transition: filter 0.3s ease;
}

.project-images a:hover::before,
.project-images img:hover + a::before {
  opacity: 0;
}

.project-tech-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
}

.project-list:nth-of-type(2n + 1) .project-tech-list {
  -moz-box-pack: end;
  justify-content: flex-end;
}

.project-list:nth-of-type(2n + 1) .project-tech-list li {
  margin: 0px 0px 5px 20px;
}

.project-list .project-tech-list li {
  margin: 0px 20px 5px 0px;
  color: #a8b2d1;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 13px;
  white-space: nowrap;
}

/*----------Finish project container ------*/

/*----------contact container------*/
.contact-container {
  background-color: rgb(252, 240, 224);
  /* margin-top: 20px; */
  padding: 30px 0 70px;
}

.contact-container h2 {
  color: #22577a;
  text-align: center;
}

.contact-content {
  font-size: 19px;
  text-align: center;
}

.ending-message {
  width: 80%;
  line-height: 2;
  margin: 20px auto 0;
  padding: 13px 15% 30px;
}

/*----------footer------*/
.footer {
  padding: 50px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links {
  display: flex;
  justify-content: center;
}

.footer__links a {
  position: relative;
  display: inline-block;
  color: #64ffda !important;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 15px;
  outline: 0;
}

.footer__links img {
  /* color: #64ffda; */
  display: inline-block;
  width: 22px;
  transition: fill 0.3s ease;
}

/* Change fill color for SVG images on hover */
.footer__links a:hover img {
  filter: invert(60%) sepia(48%) saturate(694%) hue-rotate(86deg)
    brightness(150%) contrast(101%);
}

.footer__copyright {
  color: #ccd6f6;
  font-weight: 500;
  width: 200px;
}

.footer__copyright .top {
  color: #ccd6f6;
}

.bottom span {
  font-family: "Domine", serif;
  font-size: 1rem;
  text-align: center;
  color: #ffce64;
}

.copyright {
  color: whitesmoke;
  font-family: "Domine", serif;
  font-size: 1rem;
  padding: 40px 0 30px;
  margin-bottom: 0;
}

.butn {
  background: #10b9bf;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  border: solid #337fed 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

.butn:hover {
  border: solid #337fed 1px;
  background: #30e3cb;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}

#contact-link a::before {
  text-decoration: none;
}

#top-button {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: 0 0;
  border: none;
  outline: 0;
  width: 47px;
  position: fixed;
  bottom: 25px;
  right: 12px;
  cursor: pointer;
  display: none;
  z-index: 3;
}

#top-button:focus,
#top-button:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

#top-button img {
  width: 100%;
}

/* @media screen and (min-width: 1200px) {
    .top-container {
      background: no-repeat fixed url("../images/background5.png");
    }
  } */

/*---------- lg screen --------*/
@media (min-width: 992px) and (max-width: 1199px) {
  h1 {
    /* padding-top: 200px; */
    margin: 0;
  }

  h2 {
    font-size: 8rem;
  }

  h4 {
    font-weight: 400;
    font-size: 35px;
  }

  p {
    line-height: 1.7;
  }

  .display {
    display: none;
  }

  .middle-container {
    padding: 15px 130px;
  }

  /*----------project container--------*/
  .project-intro {
    padding: 3px 0 40px;
  }

  /*----------experience container------*/
  .experience-container {
    padding: 15px 130px 40px;
  }

  .col-md-4,
  .col-md-8 {
    text-align: justify;
    padding-right: 0;
  }

  .experience-title {
    font-size: 40px;
    font-weight: 300;
  }

  .ending-message {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 7rem;
    margin: 0;
  }

  h2 {
    font-size: 7rem;
    /* padding-top: 30px; */
  }

  h4 {
    font-weight: 500;
    font-size: 30px;
  }

  p {
    line-height: 1.7;
  }

  /*----------top container--------*/
  /* .top-intro {
    height: 100vh; */
  /* height: auto;
  } */

  /*----------middle container--------*/

  .middle-container {
    padding: 15px 100px;
  }

  .profile-image {
    display: block;
    margin: 0 auto 45px;
    width: 200px;
  }

  .display {
    display: none;
  }
  /*----------experience container--------*/
  .experience-title a {
    margin-top: 20px;
  }

  /*----------project container--------*/
  .project-container {
    padding: 15px 100px 40px;
    margin: 0;
  }

  .project-list:nth-of-type(2n + 1) .project-contents {
    grid-column: 1 / -1;
    padding: 40px 10px 30px;
    text-align: left;
  }

  .project-list:nth-of-type(n + 1) .project-contents {
    grid-column: 1 / -1;
    padding: 40px 10px 30px;
    text-align: left;
  }

  .project-images {
    display: none;
  }

  .project-list:nth-of-type(2n + 1) .project-tech-list {
    -moz-box-pack: start;
    justify-content: flex-start;
    margin-right: 0px;
  }

  .project-list:nth-of-type(2n + 1) .project-tech-list li {
    margin: 0px 10px 5px 0px;
  }

  .project-intro {
    padding: 3px 50px 40px;
  }

  .project-list:nth-of-type(2n + 1) .project-contents {
    grid-column: 1 / -1;
    /* padding: 40px 40px 30px; */
    text-align: left;
  }

  .projects-grid li {
    margin-bottom: 0px;
  }

  .note {
    padding: 0 5%;
  }

  /*----------experience container------*/
  .experience-container {
    padding: 15px 100px 40px;
  }

  .experience-title {
    font-size: 35px;
  }

  .ending-message {
    width: 100%;
  }
}

/*----------xs-screen--------*/
@media (max-width: 767px) {
  h1 {
    font-size: 5rem;
    margin: 0;
  }

  .job {
    font-size: 1.57rem;
    margin-top: 10px;
  }
  .anim {
    width: 25px;
    margin-top: 100px;
  }

  /*----------top container--------*/
  .top-intro {
    padding: 120px 70px;
    /* height: auto; */
  }

  .intro__tagline {
    font-size: 2rem;
  }

  .logo {
    display: none;
  }

  /*----------middle container--------*/

  .middle-container {
    padding: 15px 70px;
  }

  .profile-image {
    display: block;
    margin: 0 auto 45px;
    width: 200px;
  }

  .display {
    display: none;
  }

  .arrow-list {
    text-align: left;
  }

  /*----------project container--------*/
  .project-container {
    padding: 20px 55px;
    margin: 0;
  }

  .project-list:nth-of-type(2n + 1) .project-contents {
    grid-column: 1 / -1;
    padding: 40px 10px 30px;
    text-align: left;
  }

  .project-list:nth-of-type(n + 1) .project-contents {
    grid-column: 1 / -1;
    padding: 40px 10px 30px;
    text-align: left;
  }

  .project-images {
    display: none;
  }

  .project-list:nth-of-type(2n + 1) .project-tech-list {
    -moz-box-pack: start;
    justify-content: flex-start;
    margin-right: 0px;
  }

  .project-list:nth-of-type(2n + 1) .project-tech-list li {
    margin: 0px 10px 5px 0px;
  }

  .project-intro {
    padding: 3px 0 40px;
  }

  .note {
    padding: 0 5%;
  }

  .projects-grid li {
    margin-bottom: 0px;
  }

  /*----------experience container------*/
  .experience-container {
    padding: 15px 70px 40px;
  }

  .experience-title {
    font-size: 27px;
    font-weight: 200;
    text-align: left;
    margin-bottom: 30px;
  }

  .carrers {
    margin-top: 30px;
  }

  /*----------footer container------*/
  .footer {
    display: block;
  }

  .footer__copyright {
    width: auto;
    text-align: center;
    margin-bottom: 25px;
  }

  .footer__copyright .bottom,
  .footer__copyright .top {
    display: inline-block;
    font-size: 13px;
  }

  .ending-message {
    width: 95%;
    padding: 13px 10px 30px;
  }

  .secrete {
    display: none;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 6.3rem;
    padding-top: 57%;
  }
  i {
    font-size: 25px;
  }
  .anim {
    margin-top: 40px;
  }

  /*----------top container--------*/
  .top-intro {
    /* height: auto; */
    padding: 70px 40px;
  }

  /*----------middle container--------*/
  .middle-container {
    padding: 15px 40px;
  }

  .display {
    display: none;
  }

  /*----------experience container--------*/
  /* .carrers {
    margin-top: 30px;
  } */

  /*----------project container--------*/
  /* .project-list:nth-of-type(2n + 1) .project-contents {
    grid-column: 1 / -1;
    padding: 40px 40px 30px;
    text-align: left;
  } */

  .mainbtn {
    padding: 16px 17px;
    letter-spacing: 0;
    font-size: 17px;
  }

  /*----------experience container------*/
  .experience-container {
    padding: 15px 30px 40px;
  }

  .note {
    padding: 0 3%;
  }

  /*----------footer container------*/

  #top-button {
    bottom: 15px;
    right: 3px;
  }

  .footer {
    padding: 50px 30px;
  }

  .footer__copyright .bottom,
  .footer__copyright .top {
    display: block;
  }

  .link {
    width: 100%;
    padding: 50px 20px 0px;
  }

  .ending-message {
    width: 90%;
    padding: 13px 10px 30px;
  }
}
